:root {
  --radius: 200px;
  --arm-width: 16px;
  --mint-green:#00ffd5;
  --pink-very-faded:#ff008c8c;
  --pink-faded:#ff008cd9;
  --pink-mid:#ff229c;
  --pink-dark:#e2007c;
  --pastel-yellow:#fffec6;
  --mid-blue: #344d698f;
  --dark-blue: #000044ec;
  --deep-blue: #000044;
  transition: all 0.25s ease;
}

body {
  background-color: var(--pastel-yellow);
  font-family: 'Courier New', Courier, monospace;
  margin: 20px;
  overflow: hidden;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--deep-blue);
  margin: 0 auto;
  text-align: center;
  transition: all 0.25s ease;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.digital-wrapper {
  display: inline;
}

.digital-clock,
.digital-clock-ms {
  font-size: 4rem;
  transition: all 0.25s ease;
}

.analogue-clock {
  position: relative;
  border: 20px solid var(--mint-green);
  background: radial-gradient(var(--deep-blue), var(--dark-blue), var(--mid-blue));
  border-radius: 50%;
  min-width: calc(var(--radius) * 2);
  min-height: calc(var(--radius) * 2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: #00333366 0 8px 45px 5px;
}

.arm {
  position: absolute;
  width: var(--arm-width);
  transform-origin: calc(var(--arm-width) / 2) 100%;
  left: calc(var(--radius) - calc(var(--arm-width) / 2));
  border-bottom-right-radius: calc(var(--arm-width) / 2);
  border-bottom-left-radius: calc(var(--arm-width) / 2);
  background: linear-gradient(var(--pink-faded), var(--pink-very-faded));
  --size: 1;
  --diff: calc(var(--radius) / var(--size));
  height: calc(var(--radius) - var(--diff));
  top: var(--diff);
}

.arm.milliseconds {
  height: var(--radius);
  top: 0;
}

.arm.seconds {
  --size: 5;
}

.arm.minutes {
  --size: 3;
}

.arm.hours {
  --size: 2;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-0 {
  margin: 0;
}

.m-l-n10 {
  margin-left: -10px;
}

.footer {
  font-size: 1.5rem;
  color: var(--deep-blue);
  padding: 60px 0 40px 0;
  text-align: center;
}

.footer > a {
  color: var(--pink-dark);
}

.footer > a:hover {
  color: var(--pink-mid);
}

.new-tab-icon::after {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f35d";
  margin-left: 5px;
  font-size: 1rem;
}

@media only screen and (max-width: 640px) {
  :root {
    --radius: 160px;
    --arm-width: 13px;
    transition: all 0.25s ease;
  }
  .analogue-clock {
    border: 16px solid var(--mint-green);
  }
  .digital-clock,
  .digital-clock-ms {
    font-size: 3.25rem;
    transition: all 0.25s ease;
  }
  h3 {
    font-size: 1.5rem;
    transition: all 0.25s ease;
  }
  .footer {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 480px) {
  :root {
    --radius: 120px;
    --arm-width: 10px;
    transition: all 0.25s ease;
  }
  .analogue-clock {
    border: 12px solid var(--mint-green);
  }
  .digital-clock,
  .digital-clock-ms {
    font-size: 2rem;
    transition: all 0.25s ease;
  }
  h3 {
    font-size: 1.25rem;
    transition: all 0.25s ease;
  }
  .footer {
    font-size: 1.125rem;
  }
}

.fade-in {
  animation: fadeInAnimation ease-in 1s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}

@keyframes fadeInAnimation { 
  0% { 
    opacity: 0; 
  } 
  100% { 
    opacity: 1; 
  } 
} 